//colors
$background-color: #2F2E2D;
$text-color: #FFFFFF;
$link-color: #C78555;
$logo-color: #000000;
$card-color: #494949;

//widths, margins, paddings
$width-max: 1920px;
$width-link: 60px;
$width-container: 850px;

//fonts
$font-logo: "Palatino Linotype";
$font-heading: "GothamProRegular";
$font-text: "PT Serif";
$font-footer: "Montserrat", sans-serif;
$font-file-section: "Open Sans", sans-serif;

//svg
$background-img: url('../assets/img/background-image.svg');